.mess-container{
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 30px;
}
.mess-show{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 30px;
    background-color: #e2e2e2;
    font-size: 20px;
    color: blue;
    border: 1px solid blue;
    border-radius: 3px;
    text-align: center;
    padding: 3px 10px;
}
.mess-show:hover{
    cursor: pointer;
}
.messenger-wrapper{
    display: block;
    position: absolute;
    width: 200px;
    height: 350px;
    background-color: #e2e2e2;
    padding: 5px;
    right: 0;
    bottom: 35px;
    border: 2px solid blue;
    border-radius: 5px;
}
.btn-panel{
    display: block;
    position: relative;
    width: 185px;
    height: 20px;
    background-color: #e2e2e2;
    text-align: right;
}
.messenger-myself{
    display: inline-block;
    width: 107px;
    text-align: left;
}
.messenger-exit{
    display: inline-block;
    width: 50px;
    text-decoration: underline;
    font-size:14px;
    line-height: 20px;
}
.messenger-exit:hover{
    cursor: pointer;
    text-decoration: none;
    color: red;
}
.messenger-close{
    display: inline-block;
    width: 20px;
    font-size:16px;
    line-height: 20px;
}
.messenger-close:hover{
    cursor: pointer;
    color: red;
}
.messenger-hello{
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size:14px;
    line-height: 14px;
    margin-bottom: 5px;
}
.mess-view{
    display: block;
    width: 185px;
    background-color: #fff;
    height: 230px;
    resize: none;
    overflow-y: visible;
}
.mess-input{
    display: block;
    margin-top: 5px;
    width: 185px;
    background-color: #fff;
    height: 50px;
    resize: none;
}
.btn-send,
.btn-messenger-enter{
    display: block;
    width: 185px;
    height: 25px;
    background-color: forestgreen;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    margin-top: 5px;
}
.btn-send{
    padding: 5px 10px;
}
.btn-messenger-enter{
    padding: 3px 10px;
}
.btn-send:hover,
.btn-messenger-enter{
    cursor: pointer;
}
.messenger-enter-title{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 17px;
}
.messenger-nickname{
    display: inline-block;
    width: 185px;
    background-color: #fff;
}
.messenger-pass{
    display: inline-block;
    width: 185px;
    background-color: #fff;
    margin-top: 5px;
}
.btn-messenger-register,
.btn-messenger-login{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    text-decoration: underline;
    margin-top: 10px;
    border: none;
    background-color: rgba(255,255,255,0);
}
.btn-messenger-register:hover{
    cursor: pointer;
    text-decoration: none;
    color: red;
}
.btn-messenger-login:hover{
    cursor: pointer;
    text-decoration: none;
    color: red;
}
.messenger-tooltip{
    display: inline-block;
    margin-top: 15px;
}
.error{
    border:1px solid red;
}